{% extends 'base.html.twig' %}

{% block title %} Prostage - Ajout Entreprise {% endblock %}

{% block body %}

  <div class="row">
    <div class="col-10 offset-1">
      <div class="card mb-3">
        <p style="text-align: center;"> Formulaire d'ajout d'entreprise </p>
        <div class="card-body" style="background: black;">
           <h4>Veuillez saisir les données</h4>
           {{form_start(formulaire)}}
              {{form_row(formulaire.nom,{'attr': {'placeholder': 'Samsung'}})}}
              {{form_row(formulaire.activite,{'attr': {'placeholder': 'Developpeur'}})}}
              {{form_row(formulaire.numRue,{'attr': {'placeholder': '4'}})}}
              {{form_row(formulaire.rue,{'attr': {'placeholder': 'Avenue François Mitterand'}})}}
              {{form_row(formulaire.codePostale,{'attr': {'placeholder': '75100'}})}}
              {{form_row(formulaire.ville,{'attr': {'placeholder': 'Paris'}})}}
              {{form_row(formulaire.pays,{'attr': {'placeholder': 'France'}})}}
              {{form_row(formulaire.complementAdresse,{'attr': {'placeholder': 'Résidence Ingurumena bât A2 6ème étage appartement n°263'}})}}
              <button type="submit" class="btn btn-success" name="button">Enregistrer</button>
           {{form_end(formulaire)}}
        </div>
      </div>
    </div>
  </div>

{% endblock %}
