{% extends 'base.html.twig' %}

{% block title %} Prostage - Inscription{% endblock %}

{% block body %}


  <div class="card mb-3">
    <h3 style="text-align: center;"> Formulaire d'ajout de Stage </h3>
    <div class="card-body" style="background: black;">
      <div class="row">
        <div class="col-10 offset-1">
           <h4>Veuillez saisir les données</h4>
           {{form_start(formulaire)}}
              {{form_row(formulaire.prenom,{'attr': {'placeholder': 'François'}})}}
              {{form_row(formulaire.nom,{'attr': {'placeholder': 'Gassant'}})}}
              {{form_row(formulaire.email,{'attr': {'placeholder': 'email@gmail.com'}})}}
              {{form_row(formulaire.password,{'attr': {'placeholder': 'Password'}})}}
              <button type="submit" class="btn btn-success"> Valider </button>
           {{form_end(formulaire)}}
         </div> <!-- Fin col1-->
       </div> <!-- Fin ROW -->
      </div>
    </div>

{% endblock %}
