<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} Prostage {% endblock %}</title>
        <!--link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css"-->
        <link rel="stylesheet" href="/css/bootswatch/darckly.min.css">
        <link rel="stylesheet" href="/css/moi/monStyle.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
      <!-- CONTENEUR -->
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <a class="navbar-brand" href="/">Prostage</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="{{path('accueil')}}">Accueil <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{path('lesStages')}}">Tous les stages</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{path('lesEntreprises')}}">Entreprises</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{path('lesFormations')}}">Formations</a>
                  </li>
                </ul>
                <a class="nav-link" href="{{path('ajoutStage')}}"> + ajouter un stage</a>
                <a class="nav-link" href="{{path('ajoutEntreprise')}}"> + ajouter une entreprise</a>
                <form class="form-inline my-2 my-lg-0">
                  <!--input class="form-control mr-sm-2" type="text" placeholder="Search">
                  <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button-->
                </form>
              </div>
            </nav>
          </div><!--COL-->
        </div><!--ROW-->
        {% block body %}{% endblock %}
      </div><!--CONTAINER-->


        {% block javascripts %}{% endblock %}

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="/js/bootstrap.min.js"></script>
    </body>
</html>
